venv/
env/
.venv/
backend/.venv/

__pycache__/
*.py[cod]
*$py.class

Downloads/
uploaded_files/
backend/uploaded_files/
backend/jars/*.jar
backend/hadoop/bin/*.exe

.env
backend/.env
frontend/.env
frontend/.env.local

tst.ipynb
a.ipynb

node_modules/
frontend/node_modules/
frontend/dist/
